/* Header */

body {
    height: 100vh;
    font-family: Poppins, Roboto, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.headerbar {
    background-color: #1F2937;
    display: flex;
}

.header {
    color: #F9FAF8; 
    padding-left: 32px;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.navmenu {
    color: #F9FAF8;
    padding-right: 32px;
    display: flex;
    flex:auto;
    justify-content: flex-end;
    
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

/* Hero */

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.heroleft {
    color: #F9FAF8;
}

/* Fold */

img {
    height: auto;
    width: 400px;
}